body {
 font-family: montserrat;
}


   *{
   margin : 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}


   nav{
     height: 80px;
    background-color: red;
     width: 100%;


}

  label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}


 nav ul {
 float: right;
 margin-right: 20px;
 }

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a {
color: white;
font-size:17px;
text-transform: uppercase;
}

nav ul li a:before {
position: relative;
content: '';
left: 0;
bottom: 0;
height: 3px;
width: 100%;
background:black;

}


a:hover{
color: black;
transition:.50s;

}

.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

#check{
display:none;
}


@media (max-width: 952px){
label.logo{
font-size: 30px;
padding-left:50px;


}

nav ul li a{ 
font-size: 16px;


 }
}

@media (max-width: 858px){
.checkbtn{
display: block;

  }
ul {
position: fixed;
width: 100%;
height: 100vh;
background: black;
top: 80px;
left: 0;
text-align: center;

}
nav ul li{
display: block;
}
nav ul li a {
font-size: 20px;
}
a:hover, a:active{
 background: none;
 color: red;
 
}

#check:checked ~ ul {
left: 0;

 }
}

section{
background: url{jop.jpg);
background-size: cover;
height: calc(100vh - 90px);


}

footer p{
background-color: red;
text-align: center;
padding: 10px;
color: white;
}



















