
body{
font: 15px/ 1.5 Arial, Helvatica,san-serif;
padding: 0;
margin: 0;
background-color: white;
}
/*global*/
.container{
 width: 80%;
 margin: auto;
 overflow: hidden;
}


ul{
margin: 0;
padding: 0;
}

header{
background-color: #98e234;
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: yellow 3px solid;
text-align:center;
}

header a{
color:white;
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}
 

header li{
float: center;
display: inline;
padding: 0 20px 0 20px;
}





header #branding{
 float: left;
}


header #branding h1{
margin: 0;
}

header nav{
	float:right;
	margin-top: 10px;
}




header .highlight, header .current a{

color:yellow;
font-weight: bold;


}

header a:hover{
	color:yellow;
	font-weight: bold;
}


/*showcase*/
#showcase{
min-height: 400px;
background:url(dove.jpeg)no-repeat;
background-size: cover;
 height: calc(100vh - 80px);
 text-align: center;
 color: #ffffff;
 opacity: 5.5;
}


#showcase h1{
margin-top: 200px;
font-size: 33px;
margin-bottom: 20px;
}

#showcase h1 span{
	color: red;


}
#showcase p{
font-size: 50px ;
color:red;
}

/*newletter*/

#newletter{
padding: 15px;
color: #ffffff;
background-color: #98e234;

}

#newletter h1{
	float: left;
}

#newletter form{
	flex: right;
	margin-bottom: 20px;
}


#boxes{
margin-top: 20px:;
}

#boxes .box{
float: left;
width: 30%;
padding: 10px;
text-align: center;

}

#boxes .box img{
width: 90px;
}







footer{
padding: 20px;
margin-top: 20px;
color: white;
background-color: #98e234;
text-align: center;










